.button
  background-color: $main-color
  border: none
  border-radius: 50px
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: 'Muller', Arial, sans-serif
  font-size: 20px
  font-weight: 500
  line-height: 20px
  min-height: 45px
  padding: 10px 15px
  text-decoration: none
  text-align: center
  transition: background-color 0.3s
  vertical-align: middle

  &:hover,
  &:active
    background-color: darken($main-color, 10%)
    color: #fff

  &:focus
    outline: 1px dotted #000

  &:disabled,
  &.disabled
    cursor: default
    opacity: 0.5

    &:focus
      outline: none

a.button
  padding-top: 13px
  padding-bottom: 12px
