<footer class="footer">
  <div class="footer__menu-block">
    <div class="container">
      <h2 class="footer__menu-title">Полезные материалы</h2>
      <div class="footer__menu-columns footer__menu-columns--more_then_4">
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
        </ol>
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
        </ol>
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
        </ol>
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
        </ol>
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
        </ol>
        <ol class="footer__menu-section">
          <li class="footer__menu-item footer__menu-item--title"><a class="footer__menu-link" href="#">Назание раздела</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие штуковины</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Компьютерные томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">Другие томографы</a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#">И еще томографы</a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="footer__inner">
    <div class="footer__logo"><img src="images/logo.png" alt="Честная Медицина"></div>
    <div class="footer__search-bar">
      <div class="search-bar">
        <form action="">
          <input class="search-bar__input" type="text" name="search" value="" placeholder="Поиск">
          <button class="search-bar__submit" type="submit" title="Искать"><svg class="search-bar__submit-icon" aria-hidden="true"><use xlink:href="#search" /></svg></button>
        </form>
      </div>
    </div>
    <div class="footer__service-menu">
      <ol class="footer__service-menu-list">
        <li class="footer__service-menu-item"><a class="footer__service-menu-link" href="#">О компании</a></li>
        <li class="footer__service-menu-item"><a class="footer__service-menu-link" href="#">Контакты</a></li>
      </ol>
    </div>
    <div class="footer__contacts">
      <p><a class="footer__phone" href="tel:88003330733">8 (800) 333-07-33</a></p>
      <p><a class="footer__email" href="mailto:info@secondopinions.ru">info@secondopinions.ru</a></p>
    </div>
  </div>
</footer>
