<div id="enter" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#popup-close" /></svg></button>
  <p class="popup__title">Вход</p>
  <p class="popup__sub-title">Укажите электронную почту и пароль</p>
  <form action="">
    <label class="form-label">
      <input class="input" type="text" value="" placeholder="Электронная почта"/>
    </label>
    <label class="form-label">
      <input class="input" type="password" value="" placeholder="Пароль"/>
    </label>
    <button class="button" type="submit">Войти</button>
  </form>
  <p class="popup__text"><a href="#">Забыли пароль?</a></p>
  <p class="popup__text">Еще нет аккаунта? <a href="#"><b>Зарегистрируйтесь</b></a></p>
  <p class="popup__terms text-center">Регистрируясь, вы соглашаетесь с <a href="#" target="_blank">политикой обработки персональных данных</a>.</p>
</div>
