.header
  background-color: #fff
  left: 0
  position: fixed
  right: 0
  z-index: 10

  @media(min-width: 768px)
    position: static

  &__top
    border-bottom: 1px solid #DADADA
    min-height: 70px

    .header__search-bar,
    .header__links,
    .header__contacts
      display: none

      @media(min-width: 768px)
        display: block

  &__top-inner
    align-items: center
    display: flex
    min-height: 70px
    margin-left: auto
    margin-right: auto
    padding: 15px
    max-width: 1440px

    @media(min-width: 1200px)
      padding-left: 40px
      padding-right: 40px

  &__logo
    width: 140px

    @media(min-width: 1200px)
      width: 184px

  &__search-bar
    margin-left: 20px

    @media(min-width: 1024px)
      margin-left: 120px

  &__links
    color: #616567
    margin-left: auto
    margin-right: 20px

    @media(min-width: 1024px)
      margin-right: 80px

    a
      color: #616567
      text-decoration: none

      &:hover,
      &:focus
        color: $main-color

  &__contacts
    line-height: 1

    p
      margin-bottom: 0

    a
      color: #090909
      text-decoration: none

      &:hover,
      &:focus
        color: $main-color

  &__phone
    font-weight: 500

  &__email
    font-size: 14px

  &__burger
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    margin-left: auto
    padding: 0
    width: 40px

    @media(min-width: 768px)
      display: none

  &__burger-icon
    fill: $secondary-color
    height: 19px
    width: 29px

  &__bottom
    border-bottom: 1px solid #DADADA
    position: relative

    .header__menu,
    .header__compare-link
      display: none

      @media(min-width: 768px)
        display: flex

    .header__compare-link
      margin-left: auto

      @media(min-width: 1200px)
        margin-right: 110px

  &__bottom-inner
    align-items: center
    display: flex
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    max-width: 1440px

    @media(min-width: 1200px)
      padding-left: 40px
      padding-right: 40px

  &__menu
    margin-left: 35px

    @media(min-width: 1200px)
      margin-left: 70px

  &__menu-list
    align-items: center
    display: flex
    list-style: none
    margin: 0
    padding: 0

  &__menu-item
    margin-bottom: 0

    &:not(:last-child)
      margin-right: 35px

  &__menu-link
    color: #000
    display: block
    line-height: 1
    padding-top: 22px
    padding-bottom: 22px
    text-decoration: none

    &:hover,
    &:focus
      color: $main-color

  &__compare-link
    align-items: center
    color: #000
    display: flex
    line-height: 1
    padding-top: 22px
    padding-bottom: 22px
    text-decoration: none

    &:hover,
    &:focus
      color: $main-color

  &__compare-link-icon
    fill: $main-color
    height: 12px
    margin-right: 11px
    margin-bottom: 2px
    width: 18px

  &__dropdown
    background-color: rgba(#000, 0.5)
    display: none
    height: 100%
    left: 0
    overflow-y: auto
    position: fixed
    top: 0
    width: 100%
    z-index: 1

    @media(min-width: 768px)
      background-color: #fff
      height: auto
      margin-top: 1px
      position: absolute
      padding-top: 35px
      padding-bottom: 35px
      top: 100%
      width: 100%

    @media(min-width: 1200px) and (min-height: 900px)
      padding-top: 55px
      padding-bottom: 140px

    &.is-open
      display: block

  &__dropdown-inner
    background-color: #fff
    max-width: 260px
    padding-left: 10px
    padding-right: 10px
    padding-top: 35px
    padding-bottom: 35px
    position: relative

    @media(min-width: 768px)
      max-width: 1170px
      margin-left: auto
      margin-right: auto
      padding-top: 0
      padding-bottom: 0

    @media(min-width: 1024px)
      padding-left: 15px
      padding-right: 15px

  &__dropdown-title
    color: #000
    font-size: 20px
    font-weight: 700
    line-height: 1
    margin-bottom: 35px

    @media(min-width: 768px)
      font-size: 32px

    @media(min-width: 1200px) and (min-height: 900px)
      margin-bottom: 45px

  &__dropdown-close
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    justify-content: center
    height: 30px
    left: auto
    padding: 0
    position: absolute
    right: 15px
    top: 28px
    width: 30px
    z-index: 1

    @media(min-width: 768px)
      top: 0

  &__dropdown-close-icon
    fill: #9C9FA0
    height: 24px
    width: 24px

  &__dropdown-columns
    @media(min-width: 768px)
      column-count: 4
      column-width: 270px
      column-gap: 15px
      //display: flex

    .header-menu
      page-break-inside: avoid

  &__dropdown-column
    padding-right: 15px

    &:not(:last-child)
      margin-bottom: 45px

    @media(min-width: 768px)
      margin-bottom: 0
      width: 25%

.header-menu
  line-height: 1.125
  list-style: none
  padding: 0

  &:not(:last-child)
    margin-bottom: 45px

    @media(min-width: 768px)
      margin-bottom: 55px

  &__item
    &:not(:last-child)
      margin-bottom: 15px

    &--title
      font-size: 18px
      font-weight: 700
      line-height: 1

      @media(min-width: 768px)
        font-size: 20px

      &:not(:last-child)
        margin-bottom: 22px

      .header-menu__link
        color: #000

  &__link
    color: #515151
    display: inline-block
    text-decoration: none
    vertical-align: top

    &:hover,
    &:focus
      color: $main-color

.menu-opener
  align-items: center
  background-color: transparent
  border: none
  color: #000
  cursor: pointer
  display: flex
  font-weight: 700
  line-height: 1
  padding: 22px 0
  transition: color 0.3s

  &:not(:first-child)
    margin-left: 35px

  &.is-active,
  &:hover,
  &:focus
    color: $main-color

    .menu-opener__icon
      fill: $main-color

  &__icon
    fill: #000
    height: 14px
    margin-right: 9px
    margin-bottom: 2px
    transition: fill 0.3s
    width: 14px

.mobile-menu
  background-color: rgba(#000, 0.5)
  display: none
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 100

  &.is-open
    display: flex

  &__inner
    background-color: #fff
    display: flex
    flex-direction: column
    min-height: 100%
    max-width: 260px
    margin-left: auto
    overflow-y: auto
    padding-left: 25px
    padding-right: 25px
    padding-top: 20px
    padding-bottom: 30px

  &__closer
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    margin-left: auto
    margin-top: -8px
    margin-right: -8px
    margin-bottom: 20px
    padding: 0
    width: 40px

  &__closer-icon
    fill: $secondary-color
    height: 22px
    width: 22px

  &__list
    font-size: 18px
    font-weight: 500
    list-style: none
    margin-bottom: 25px
    padding: 0

  &__list-item
    &:not(:last-child)
      margin-bottom: 20px

  &__list-link
    color: $main-color
    text-decoration: none

  .header__links
    font-size: 16px
    margin-left: 0
    margin-right: 0
    margin-bottom: 30px

  .header__compare-link
    font-size: 16px
    margin-bottom: 15px

  .header__contacts
    margin-bottom: 35px

    p
      margin-bottom: 5px

  .header__phone
    font-size: 18px

  .header__email
    font-size: 16px

  .search-bar
    margin-bottom: 30px

  .search-bar__input
    height: 60px
    padding-top: 17px
    padding-bottom: 16px
